[project]
	description = draft code for wall presentation PPT
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/crishuang
[access "refs/for/refs/*"]
	read = group user/crishuang
	push = group user/crishuang
	label-Code-Review = -2..+2 group user/crishuang
	label-Verified = -1..+1 group user/crishuang
	rebase = group user/crishuang
	removeReviewer = group user/crishuang
	submit = group user/crishuang
[access "refs/heads/*"]
	read = group user/crishuang
	create = group user/crishuang
	push = +force group user/crishuang
	pushMerge = group user/crishuang
[access "refs/tags/*"]
	push = +force group user/crishuang
	pushTag = group user/crishuang
	pushSignedTag = group user/crishuang
